body {
    background-color: #121212;
    color: #e0e0e0;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}

.navbar a {
    color: white;
    padding: 12px 20px;
    text-decoration: none;
    display: inline-block;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}

.main-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    height: 75vh;
}

.card {
    background-color: #1e1e1e;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    margin-bottom: 20px;
    padding: 10px;
    flex: 1;
}




#motor_chart_div, #airspeed_chart_div, #temperature_chart_div, #barometric_pressure_div {
    height: 150px;
}

.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 25%;
    padding-left: 20px;
}

.card-header {
    background-color: #333;
    padding: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-size: 1.2em;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icon {
    width: 20px;
    height: 20px;
}

.console-output {
    height: 150px;
    overflow-y: auto;
    background-color: #2e2e2e;
    padding: 10px;
    margin-bottom: 10px;
    color: #ffffff;
}

.command-form {
    display: flex;
    align-items: center;
}

#command-input {
    flex: 1;
    padding: 10px;
    margin-right: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px 0 0 5px;
    outline: none;
}

.button-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    padding: 10px;
}

.button-grid button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    width: 100%;
    box-sizing: border-box;
}

.button-grid button:hover,
.button-grid button:focus {
    background-color: #555;
    transform: scale(1.05);
    outline: none;
}


#small-map {
    height: 300px;
}
#full-map {
    height: 80vh;
}

.icon-trash, .icon-send {
    fill: white;
    width: 30px;
    height: 30px;
}


.clear-button, .send-button {
    width: 30px;
    height: 30px;
    display: inline-block;
    vertical-align: middle;
    padding: 0px;
    margin: 0px;
}

button {
    background-color: #444;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    margin: 5px 0;
    width: 100%;
}

button:hover {
    background-color: #555;
}

#camera-feeds button {
    width: 200px;
    margin: 10px;
}

#camera-feeds {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    justify-items: center;
}

.camera-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.camera-toggle {
    width: 100px;
    margin: 10px 0;
}

.camera-feed {
    display: none;
    text-align: center;
}

.data-dashboard {
    width: 75%;
    display: flex;
    flex-direction: column;
}

.dash-graph {
    height: 100%;
    width: 100%;
    background-color: #2e2e2e;
}

.dash-graph-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.dash-gauge-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.dash-graph, .dash-gauge {
    flex: 1;
    margin: 10px;
    background-color: #2e2e2e;
}

.dash-container {
    width:100%;
    height: 100%;
}

.dash-iframe {
    width: 100%;
    height: 100%;
}

.dash-graph-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.dash-gauge-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.dash-graph, .dash-gauge {
    flex: 1;
    margin: 10px;
    background-color: #2e2e2e;
}

