<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/style.css') }}">
    <title>Drone Control Interface</title>

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.0/socket.io.js"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    <script src="{{ url_for('static', filename='js/cameras.js') }}"></script>
    <script src="{{ url_for('static', filename='js/charts.js') }}"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script src="https://unpkg.com/leaflet.vectorgrid@latest/dist/Leaflet.VectorGrid.bundled.js"></script>
</head>
<body>
    <div class="navbar">
        <a href="/">Home</a>
        <a href="/control">Control</a>
        <a href="/video">Video</a>
        <a href="/large_map">Map</a>
    </div>
    <div class="main-container">
        <div class="data-dashboard card">
            <div class="card-header">Data Dashboard</div>
            <div id="altitude_chart_div"></div>
            <div class="gauge-container">
                <div id="motor_chart_div"></div>
                <div id="airspeed_chart_div"></div>
                <div id="temperature_chart_div"></div>
                <div id="barometric_pressure_div"></div>
            </div>
        </div>
        <div class="sidebar">
            <div class="card controls">
                <div class="card-header">Controls</div>
                <div class="button-grid">
                    <button onclick="sendCommand('calibrate')">Calibrate</button>
                    <button onclick="sendCommand('arm')">Arm</button>
                    <button onclick="sendCommand('go')">Start Motor</button>
                    <button onclick="sendCommand('stop')">Stop Motor</button>
                </div>
            </div>
            <div class="card console">
                <div class="card-header">
                    Drone Control Console
                    <button id="clear-console" class="clear-button">
                        <!-- Image used from https://www.svgrepo.com/svg/490254/trash-can courtesy of IonutNeagu -->
                        <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="icon-trash">
                            <path d="M10 12L14 16M14 12L10 16M18 6L17.1991 18.0129C17.129 19.065 17.0939 19.5911 16.8667 19.99C16.6666 20.3412 16.3648 20.6235 16.0011 20.7998C15.588 21 15.0607 21 14.0062 21H9.99377C8.93927 21 8.41202 21 7.99889 20.7998C7.63517 20.6235 7.33339 20.3412 7.13332 19.99C6.90607 19.5911 6.871 19.065 6.80086 18.0129L6 6M4 6H20M16 6L15.7294 5.18807C15.4671 4.40125 15.3359 4.00784 15.0927 3.71698C14.8779 3.46013 14.6021 3.26132 14.2905 3.13878C13.9376 3 13.523 3 12.6936 3H11.3064C10.477 3 10.0624 3 9.70951 3.13878C9.39792 3.26132 9.12208 3.46013 8.90729 3.71698C8.66405 4.00784 8.53292 4.40125 8.27064 5.18807L8 6" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </button>
                </div>
                <div id="console-output" class="console-output"></div>
                <form id="command-form" class="command-form">
                    <input type="text" id="command-input" placeholder="Enter command...">
                    <button type="submit" class="send-button">
                        <!-- Image used from https://www.svgrepo.com/svg/533310/send-alt-1 courtesy of Dazzle UI-->
                        <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="icon-send">
                            <path d="M11.5003 12H5.41872M5.24634 12.7972L4.24158 15.7986C3.69128 17.4424 3.41613 18.2643 3.61359 18.7704C3.78506 19.21 4.15335 19.5432 4.6078 19.6701C5.13111 19.8161 5.92151 19.4604 7.50231 18.7491L17.6367 14.1886C19.1797 13.4942 19.9512 13.1471 20.1896 12.6648C20.3968 12.2458 20.3968 11.7541 20.1896 11.3351C19.9512 10.8529 19.1797 10.5057 17.6367 9.81135L7.48483 5.24303C5.90879 4.53382 5.12078 4.17921 4.59799 4.32468C4.14397 4.45101 3.77572 4.78336 3.60365 5.22209C3.40551 5.72728 3.67772 6.54741 4.22215 8.18767L5.24829 11.2793C5.34179 11.561 5.38855 11.7019 5.407 11.8459C5.42338 11.9738 5.42321 12.1032 5.40651 12.231C5.38768 12.375 5.34057 12.5157 5.24634 12.7972Z" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </button>
                </form>
            </div>
            <div class="card map">
                <div class="card-header">Map</div>
                <div id="small-map"></div>
            </div>
        </div>
    </div>
    <div id="camera-feeds" class="camera-grid">
        <div class="camera-section">
            <button onclick="toggleCamera('thermal')" class="camera-toggle">Toggle Thermal Camera</button>
            <div id="thermal-camera" class="camera-feed card">
                <div class="card-header">Thermal Camera Feed</div>
                <img src="" alt="Thermal Camera Feed">
            </div>
        </div>
        <div class="camera-section">
            <button onclick="toggleCamera('video')" class="camera-toggle">Toggle Video Camera</button>
            <div id="video-camera" class="camera-feed card">
                <div class="card-header">Video Camera Feed</div>
                <img src="" alt="Video Camera Feed">
            </div>
        </div>
    </div>

</body>
</html>
